<link
  rel="stylesheet"
  type="text/css"
  href="https://cdn.jsdelivr.net/npm/toastify-js/src/toastify.min.css"
/>

<div id="toast-body" class="p-3 m-3" style="font-size:1rem; color:white">{{toast}}</div>

<script
  type="text/javascript"
  src="https://cdn.jsdelivr.net/npm/toastify-js"
></script>
<script src="/js/toast.js"></script>