<html lang="en">


  <head>
    <meta charset="UTF-8" />
    <meta name="viewport" content="width=device-width, initial-scale=1.0" />
    <title>Tutor Tea</title>
    <link rel="shortcut icon" type="image/png" href="/assets/teaEmoji.png" />

    <link
      href="https://cdn.jsdelivr.net/npm/bootstrap@5.1.3/dist/css/bootstrap.min.css"
      rel="stylesheet"
      integrity="sha384-1BmE4kWBq78iYhFldvKuhfTAU6auU8tT94WrHftjDbrCEXSU1oBoqyl2QvZ6jIW3"
      crossorigin="anonymous"
    />
    <link
      rel="stylesheet"
      href="https://cdn.jsdelivr.net/npm/bootstrap-icons@1.8.1/font/bootstrap-icons.css"
    />
    <link rel="stylesheet" href="/css/style.css" />
  </head>

  <body>
    <header>


      <!-- NAVBAR -->
      <nav class="navbar navbar-expand-md navbar-dark" id="nav">
        <div class="container-fluid">
          <a id="nav-header" href="/" class="navbar-brand d-flex align-items-center justify-content-start">
            <img
              src="/assets/teaEmoji.png"
              href="/"
              alt="Tea Icon"
              width="44"
              height="44"
            />
            <img
              src="/assets/tutorteaLogoWhite.png"
              href="/"
              alt="Tutor Tea Logo"
              width="130"
              height="64"
            />
          </a>

          {{!-- nav expand button on md and smaller screen sizes --}}
          <button
            class="navbar-toggler"
            type="button"
            data-bs-toggle="collapse"
            data-bs-target="#navbarSupportedContent"
            aria-controls="navbarSupportedContent"
            aria-expanded="false"
            aria-label="Toggle navigation"
          >
            <span class="navbar-toggler-icon"></span>
          </button>

          {{!-- buttons displayed on the nav when expanded --}}
          <div class="collapse navbar-collapse" id="navbarSupportedContent">
            <ul class="navbar-nav me-auto mb-2 mb-lg-0 list-group-horizontal">

              {{! LOGIN BUTTON }}
              <li class="nav-item dropdown">
                <a
                  class="nav-link dropdown-toggle"
                  id="navbarDropdown"
                  role="button"
                  data-bs-toggle="dropdown"
                  aria-expanded="false"
                >
                  Login
                </a>
                <ul class="dropdown-menu dropdown-menu-dark" aria-labelledby="navbarDropdown">
                  <form id="login-form" class="px-2 pt-4 opacity-100 login-form">
                    <div class="mb-3">
                      <label
                        for="exampleDropdownFormEmail1"
                        class="form-label"
                      >Username</label>
                      <input
                        type="username"
                        id="username-login"
                        class="form-control username-login"
                        placeholder="Username"
                      />
                    </div>
                    <div class="mb-3">
                      <label
                        for="exampleDropdownFormPassword1"
                        class="form-label"
                      >Password</label>
                      <input
                        type="password"
                        id="password-login"
                        class="password-login form-control"
                        placeholder="Password"
                      />
                    </div>
                    <button type="submit" class="btn navBtn mx-auto">Sign in</button>
                  </form>
                  <div class="dropdown-divider"></div>
                  <a class="dropdown-item" type="link" href="/login">New
                    around here? Sign up</a>
                </ul>
              </li>

              {{! LOGOUT BUTTON }}

              {{#if loggedIn}}
                <li class="nav-item ms-3">
                  <a
                    class="nav-link"
                    id="logout"
                    aria-current="page"
                    href="#"
                  >Logout</a>
                </li>
              {{/if}}
            {{!-- </ul> --}}

              {{! RIGHT NAV BUTTON }}
              {{! //TODO: MOBILE POSITIONING USING SM BOOTSTRAP CLASS  }}
            <li class="nav-item " id="rightNavButton">
            <div class="dropdown">
              <button
                class="btn btn-secondary navBtn"
                type="button"
                id="dropdownMenuButton2"
                data-bs-toggle="dropdown"
                aria-expanded="false"
              >
                <span class="navbar-toggler-icon mx-5"></span>
              </button>
              <ul
                class="dropdown-menu dropdown-menu-dark"
                aria-labelledby="dropdownMenuButton2"
              >
                <li><a class="dropdown-item" href="/tutorportal">Tutor List</a></li>
                <li><a class="dropdown-item" href="/sip">View Reviews</a></li>
                <li><a class="dropdown-item" href="/spilltea">Spill the Tea</a></li>
           
                <li><hr class="dropdown-divider" /></li>
                <li><a
                    class="dropdown-item"
                    href="/collab"
                  >Collabrewators</a></li>
              </ul>
            </li>
            </div>
            </ul> 
            

          </div>
        </div>
      </nav>

    </header>

    <!-- main jumbotron start -->
    <main>

      {{{body}}}

    </main>
    

    {{#if toast}}
          {{> toast}}
    {{/if}}
    {{! FOOTER }}
      <footer
        id="footer" class="py-3 d-flex justify-content-between align-items-center"
      >
        <div id="footer-co" class="justify-content-start flex-start align-items-center ps-2">
          <p class="my-1">&copy;  <a class="text-light" href="/collab">Collabrewation</a> </p>
      </div>
{{!-- Scrolling quotes in footer bar --}}
    <div class="quotes justify-content-center flex-middle">
    <aside class="title text-center" style="font-family:BellandLamb; font-size:2.5rem">Famous Musings<br>
      <div class="quoteBlock" style="font-family:sans-serif; font-size:1rem">   
        I swear to spill the <b>tea</b>, the whole <b>tea</b>, and nothing but the <b>tea</b> <i> ~ Collabrewators ~ </i>
        <h5 id="quote"></h5>
      </div> 
    </aside>
    </div>

        <!-- Footer Icon Links -->
        <div>
        <ul
          id="footer-logos"
          class="nav justify-content-end flex-end align-items-middle list-unstyled pe-3 ml-auto"
        >
          <li class="ms-3"><a
              class="text-muted"
              href="https://github.com/lonewolfco/tutortea"
            ><img
                src="/assets/GitHub-Mark-Light-64px.png"
                width="23"
                height="21"
                alt="GitHub Logo"
              /></a></li>
        </ul>
        </div>

      </footer>

    <div id="scrollTop"> ↑ </div>

    {{! SCROLL TOP BUTTON }}

    {{#if loggedIn}}
      <script src="/js/logout.js"></script>
    {{/if}}
    <!-- link to bootstrap framework javascript, jQuery, and local javascript file -->
    <script
      src="https://d19m59y37dris4.cloudfront.net/sell/2-0/vendor/bootstrap/js/bootstrap.bundle.min.js"
    >
    </script>
    <script src="https://code.jquery.com/jquery-3.6.0.min.js" integrity="sha256-/xUj+3OJU5yExlq6GSYGSHk7tPXikynS7ogEvDej/m4=" crossorigin="anonymous"></script>
    <script type="text/javascript" src="/js/scrollUp.js"></script>
   
    <script src="/js/main.js"></script>

</body>


</html>