<link rel="stylesheet" href="/css/collab.css" />
    

   <section id="hero">
      <div class="container">
        <div class="row">
          <div class="col collab">

            <h1 style="font-size: 55px;">Colla<span class="brew">brew</span>ators.</h1>

          </div> 
          <div class="col img-col">
          <img src="./assets/team.jpg" alt=""  class="img-fluid"/>
        </div>
        <p style="font-weight: 600; font-size: 40px;">Get in touch with the collaborators of Tutor Tea!  </p >
       
        </div>

       
        <div class="row cards text-center" style="border-radius: 10px; border: 1px solid black; padding: 20px 15px 20px 15px;">
          <div class="col-md-4  d-flex justify-content-center">
            <div tyle="width: 18rem">
              
                <img src="./assets/lo.png" alt="" style="border-radius: 50%;"/>
                <h2>Lo Selby</h2>
                <a href="https://github.com/lonewolfco"><i class="bi bi-github text-black" style="font-size: 3rem;"></i></a>
               
                <a href="https://www.linkedin.com/in/loselby/"> <i class="bi bi-linkedin " style="font-size: 3rem;"></i></a>
            </div>
          </div>

          <div class="col-md-4 d-flex justify-content-center">
            <div style="width: 18rem">
             
                <img src="./assets/kimothy.png" alt=""  style="border-radius: 50%;"/>
                <h2>Kim Moran</h2>
                <a href="https://github.com/kimberlym4488"><i class="bi bi-github text-black" style="font-size: 3rem;"></i></a>
              
                <a href="https://www.linkedin.com/in/kim-moran-82158371/#experience"> <i class="bi bi-linkedin" style="font-size: 3rem;"></i></a>
             
            </div>
          </div>

          <div class="col-md-4 d-flex justify-content-center">
            <div style="width: 18rem">
             
                <img src="./assets/jmicheal.png" alt="" style="border-radius: 50%;"/>
                <h2>J. Michael Brown</h2>
                <a href="https://github.com/jmichaelbrown8"><i class="bi bi-github text-black" style="font-size: 3rem;"></i></a>
                
                <a href="hhttps://www.linkedin.com/in/jmichaelbrown/"> <i class="bi bi-linkedin" style="font-size: 3rem;"></i></a>
            </div>
          </div>

          <div class="col-md-6 d-flex justify-content-center">
            <div style="width: 18rem">
             
                <img src="./assets/kasai.png" alt="" style="border-radius: 50%;" />
                <h2>Kasai Preston</h2>
                <a href="https://github.com/kasai-codes"><i class="bi bi-github text-black" style="font-size: 3rem;"></i></a>
               
                <a href="https://www.linkedin.com/in/kasai-preston-b62167224/"> <i class="bi bi-linkedin" style="font-size: 3rem;"></i></a>
             
            </div>
          </div>


          <div class=" col-md-6 d-flex justify-content-center">
            <div tyle="width: 18rem">
             
                <img src="./assets/mason.png" alt="" style="border-radius: 50%;"/>
             
                <h2>Mason Walker</h2>
                <a href="https://github.com/charliem61"><i class="bi bi-github text-black"  style="font-size: 3rem;"></i></a>
             
                <a href="https://www.linkedin.com/in/masoncwalker/"> <i class="bi bi-linkedin" style="font-size: 3rem;"></i></a>
             
            </div>
          </div>

          
        </div>
      </div>

    </section>

    <script src="/js/logout.js"></script>
  </body>
</html>
