<link rel="stylesheet" href="/css/buttonstyle.css" />

<div class="row m-3" id="newHere">
  <form
    id="signup-form"
    class="col col-lg-6 col-sm-8 col-xs-12 mx-auto signup-form rounded-3  m-2 "
  >
    <div class="userCreateValidation d-none"></div>
    <h2
      class="text-start pt-2 pb-4 border-bottom border-3"
      style="border-color: #283130"
    >New Users: Create Account</h2>

    <div class>
      <label for="username" class="form-label">Username</label>
      <input
        id="username-signup"
        type="username"
        class="form-control username-signup"
      />

    </div>
    <div class="col-md-12">
      <label for="inputPassword4" class="form-label">Password</label>
      <input
        id="password-signup"
        type="password"
        class="form-control password-signup"
      />

    </div>

    <div class="gy-3 py-3 my-3 text-center">
      <button
        type="submit"
        class="btn submitBtn btn-lg btn-dark"
        style="color:white"
      >Sign Up</button>

    </div>

  </form>

</div>

<br />
{{! Had to add in the jQuery link - wasn't working when it was only in main}}
<script
  src="https://code.jquery.com/jquery-3.6.0.min.js"
  integrity="sha256-/xUj+3OJU5yExlq6GSYGSHk7tPXikynS7ogEvDej/m4="
  crossorigin="anonymous"
></script>
<script src="/js/login.js"></script>