<link rel="stylesheet" href="/css/tutorPortal.css" />

<main class="container d-flex justify-content-center main-content my-3">

  <div class="row row-cols-sm-10 tutor-form">

    <form class="col px-5 form-card">
      <div class="mb-3">
        <div class="card-body">
          <p>Add a Tutor!</p>
        </div>
        <div>
          <label class="form-label">Name</label>
          <input type="name" class="form-control  mb-3" id="name" />
        </div>

        <label class="form-label">Email</label>
        <div class="mb-3">
          <input
            type="email"
            class="form-control"
            id="email"
            aria-describedby="emailHelp"
          />
        </div>

        <button
          id="tutor-button"
          \type="submit"
          class="btn btn-primary btn-outline-dark mb-0"
        >
          Submit
        </button>
      </div>
    </form>
  </div>
  <div class="container d-flex tutor-list p-2 text-center">
      <table class="table">
          <p style="color:white; font-weight:bold; font-size:1.5rem">Active Tutors</p>
    <thead class=" overflow-auto px-2 list-padding">
      <tr style="color:white; font-weight:bold; font-size:1.15rem">
        <td scope="col">Name: </td>
        <td scope="col" >Email:</td>
      </tr>
    </thead>
          {{#each tutors as |tutor|}}
          <tr style="color:white">
        <td>
              {{tutor.name}}
        </td>
        <td>
              {{tutor.email}}        
        </td>
        </tr>
          {{/each}}

      </table>

      </div>
    </div>
  </div>
</main>

<script src="js/tutor-portal.js"></script>