
.submitBtn {
  position: absolute;
  left: 50%;
  top: 50%;
  transform: translate(-50%, -50%);
  color: white;
  text-decoration: none;
  font-size: 2em;
  display: inline-block;
  text-transform: uppercase;
  padding: 0.5em 2em;
  border: 2px solid white;
  transition: 0.02s 0.1s cubic-bezier(0.1, 0, 0.1, 1);
}
.submitBtn::before {
  content: "";
  display: inline-block;
  position: absolute;
  top: 0;
  left: 0;
  right: 100%;
  bottom: 0;
  background:white;
  color:#283130;

  transition: 0.1s 0.1s cubic-bezier(0.1, 0, 0.1, 1), left 0.1s cubic-bezier(0.1, 0, 0.1, 1);
  z-index: -1;
}
.submitBtn::after {
  content: "";
  display: inline-block;
  background-image: url("https://image.flaticon.com/icons/png/128/109/109617.png");
  position: absolute;
  background-image:white;
  color:white;
  top: 0;
  left: calc(100% - 3em);
  right: 3em;
  bottom: 0;
  background-size: 1.5em;
  background-repeat: no-repeat;
  background-position: center;
  transition: right 0.1s cubic-bezier(0.1, 0, 0.1, 1);
}
.submitBtn:hover {
  padding: 0.5em 3.5em 0.5em 0.5em;
}
.submitBtn:hover::before {
  left: calc(100% - 3em);
  right: 0;
  transition: 0.2s cubic-bezier(0.1, 0, 0.1, 1), left 0.1s 0.1s cubic-bezier(0.1, 0, 0.1, 1);
}
.submitBtn:hover::after {
  right: 0;
  transition: right 0.1s 0.1s cubic-bezier(0.1, 0, 0.1, 1);
}
