:root {
  --primary: #28302f;
  --secondary: #747867;
  --background: #d1d1d1;
  --textPrimary: #ffffff;
}

body {
  margin: 0;
  max-height: 100vh;
  min-width: 100vw;
  background-color: var(--background);
  background-image: url("/assets/TeaCupsOpacity28.png");
  background-size: 6rem;
  background-repeat: repeat;
  background-position: center;
}

a {
  text-decoration: none;
}

#nav {
  background-color: var(--primary);
}

.navBtn {
  background-color: var(--secondary);
  color: var(--textPrimary);
}

.dropdown-menu-dark {
  background: #28302fdc;
  color: var(--textPrimary);
}

#footer {
  background-color: var(--primary);
  color: var(--textPrimary);
  z-index: 50;
}

#test {
  height: 650px;
}

#offcanvasNavbar {
  background-color: var(--textPrimary);
}

#scrollTop {
  display: none;
  position: fixed;
  bottom: 4rem;
  right: 1.7rem;
  width: 40px;
  height: 40px;
  line-height: 40px;
  color: #343a40;
  border: solid 1px #343a40;
  text-align: center;
  background: #fff;
  font-size: 0.8rem;
  z-index: 999;
  cursor: pointer;
  transition: border-color, color, background-color, bottom 0.5s ease-out;
}

#scrollTop:hover {
  font-weight: bolder;
  text-shadow: var(--text-shadow);
}

/* CARDS */
.card {
  margin: 20px;
  flex: 0 1 300px;
  border: 7px double var(--dark);
  border-radius: 10px;
  background-color: var(--light);
  color: var(--dark);
}

.login-card {
  margin: 0 0 20px 0;
  flex: 0 0 50%;
  max-width: 50%;
  padding: 5px;
  border: 3px solid var(--dark);
  border-radius: var(--border-radius);
  border-style: double;
  border-width: thick;
  background-color: #577a7c;
  color: var(--light);
}

.card header {
  color: var(--light);
  font-weight: bold;
  text-transform: uppercase;
  margin: 0;
  background-color: var(--tertiary);
  padding: 0.625rem;
  border-radius: calc(0.18rem - 1px) calc(0.18rem - 1px) 0 0;
}

.card-body {
  font-size: 1.4rem;
  text-align: center;
  font-weight: bold;
}

.dashCards {
  background-color: var(--secondary) !important;
  opacity: 0.8;
}

.signup-form,
.submit-review,
.signup-form1 {
  background-color: var(--secondary) !important;
  opacity: 0.8;
  color: var(--textPrimary);
}

#newHere {
  display: flex;
  justify-content: center !important;
}

.submitBtn {
  text-decoration: none;
}
.submitBtn:hover {
  background-color: #cecece;
  text-decoration: none;
  font-weight: bold;
}

.logout-page {
  justify-content: center !important;
}

/* LAYOUT */
.container {
  display: flex;
  flex-flow: column wrap;
  align-items: center;
}

.signup-form,
.signup-form1 {
  display: flex;
  justify-content: center;
}
