

  li {
    list-style-type: none;
  }

  .list-padding{
    padding-bottom: 30rem;
  }
  
  
  #tutor-button {
    margin-bottom: 2rem;
    background-color: #5e877f!important;
    color:white;
  }
  #tutor-button:hover {
    
    background-color: #d1d1d1!important;
    color:#28302f;
  }
  
  
  main {
    display: flex;
    flex-wrap: wrap;
    flex-grow: 1;
  }
  
  .main-content{
  background-color: #2C3F2F;
    opacity: 0.9;
    color: white;
    border-radius: 10px;
    padding: 10px 10px  10px 10px !important;
  
  }